<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.clicky.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clicky</string>
			</array>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/julianjear/makesomething-mac-app/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>/l3d2rw5ZZFRU3AadP/w2Zf8FHfhA6bKv16BQOV5OSk=</string>
	<key>VoiceTranscriptionProvider</key>
	<string>assemblyai</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Clicky uses your microphone so you can talk to it</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Clicky needs screen recording access to see your screen and help you.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Clicky uses speech recognition to transcribe your voice when you talk to it</string>
	<key>SupabaseProjectURL</key>
	<string>https://usymmyxhpfgpbgackhbm.supabase.co</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVzeW1teXhocGZncGJnYWNraGJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5NTI4MDksImV4cCI6MjA5MTUyODgwOX0.8P7KTH19wyX1M22cY-Pg_2OryeihKgRjhHDxIf0cvwA</string>
</dict>
</plist>
